html {
  font-size: 10px;
  font-family: arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-width: 400px;
}
.page-container {
  display: flex;
  flex-direction: column;
  height:100%;
}
.link-container {
  display:flex;
  position: relative;
  justify-content: center;
  text-align:center;
  align-items: center;
  padding: 6px;
}
.link-list-left {
  display: flex;
  list-style-type: none;
  align-items: center;
  overflow: hidden;
  width:100%;
}
.link-list-right {
  list-style-type: none;
  margin: 0 0 0 7px;
  padding: 0;
  align-items: center;
  width:100%;
  height: 100%;
}
.link-right {
  float: right;
  min-width: 165px;
  padding-right: 30px;
  position: relative;
  align-items: center;
  display: flex;
}
.sign-in-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  }
.sign-in {
  padding: 9px 23px;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 4px;
  min-width: 54px;
  color:white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0.25px;
}
.sign-in:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  text-decoration: none;
  background-color: #2b7de9;
}
li {
  float: left;
}
li a{
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  padding-left: 15px;
}
li:hover {
  text-decoration: underline;
}
p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
  width: 272px;
  padding-top: 100px;
}
.mid-container {
  position: relative;
  max-width: 584px;
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-container{
  display:flex;
  align-items: center;
  height: auto;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  
}
.material-icons-container {
  display:flex;
  align-items: center;
  height: auto;
}
.icon-apps {
  color:#9aa0a6;
  padding-left: 5px;
  font-size: 50px;
}
.icon-search {
  position: absolute;
  color:#9aa0a6;
  padding-left: 15px;
}
.search-bar {
  display: flex;
  width: 582px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 4px;
  font-size: 16px;
  vertical-align: middle;
}
.search-bar:hover {
  border-color: rgba(25, 72, 175, 0);
  box-shadow: 0 1px 6px rgba(32,33,36,.28)
}
.search-bar:focus {
  outline: none;
}  
.bot-buttons-container {
  margin-top: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
  }
.bot-buttons {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  min-width: 54px;
  height: 36px;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  cursor: pointer;
  text-align: center;
}
.bot-buttons:hover {
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  color: #222;
}
.empty-block {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  height:245px;
}
.bot-container {
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 15px;
  color:#70757a;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bot-upper-container {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px 15px 30px;
}
.bot-lower-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 30px 0px 15px;
}
.bot-lower-left{
  display: flex;
}
.bot-lower-right{
  display: flex;
}
.bot-links {
  display: block;
  text-decoration: none;
  color:#70757a;
  padding: 15px;
}

.bot-links:hover {
  text-decoration: underline;
}
.icon-apps:hover {
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%;
}
.icon-apps {
  color: #5f6368;
  font-size: 24px;
  opacity: 0.55;
  padding-left: 15px;
}
